.layout {
	display: flex;
	flex-direction: row;
	height: inherit;
}

.leftSide {
	display: flex;
	flex-direction: column;
	width: 20rem;
}

.main {
	background-color: pink;
	width: 80%;
}

.rightSide {
	display: flex;
	flex-direction: column;
	width: 20rem;
}
