.layout {
	display: flex;
	height: inherit;
	justify-content: center;
}

.leftSide {
	display: flex;
	flex-direction: column;
	width: 20rem;
}

.main {
	background-color: pink;
	padding: 10px;
	width: 70rem;
	display: flex;
	justify-content: center;
}

.rightSide {
	display: flex;
	flex-direction: column;
	width: 20rem;
}
